<!doctype html>
<html>
	<head>
		<title>AMI Lookup-O-Matic</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

	    <!-- Custom styles for this template -->
	    <link href="sticky-footer.css" rel="stylesheet"/>

	</head>		
	<body>
		<div  ng-app="main" ng-controller="Controller as ctrl" id="content" class="container">

			<div class="row">
				<div class="col-xs-12 ">
					<h1 class="text-center">Cloud Formation AMI Mapping Builder</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 ">
					<p>This tool builds region-to-AMI <a target="_blank" href="http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/mappings-section-structure.html">mapping tables</a> for AWS Cloud Formation templates.  Simply provide an AMI and the Region in which it resides, and this tool will 1) quickly lookup matching AMIs in other regions, and 2) build a Cloud Formation mapping entry which you can place in your template.  Try it!</p>
				</div>
			</div>

			<form class="form-horizontal">
				<div class="form-group">
					<label for="ami" class="col-xs-2 control-label">AMI:</label>
					<div class="col-xs-8">
						<input id="ami" type="text" min="0" ng-model="ctrl.ami" class="form-control" placeholder="Enter AMI" />
					</div>
				</div>

				<div class="form-group">
					<label for="region" class="col-xs-2 control-label">Region:</label>
					<div class="col-xs-8">
						<select id="region" ng-model="ctrl.region" class="form-control" placeholder="Select Region" >
					  		<option ng-repeat="c in ctrl.regions">{{c}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
				    <div class="col-xs-offset-2 col-xs-8">				
				    	<button ng-click="ctrl.lookup()" class="btn btn-default">Lookup</button>
				    </div>
			    </div>

			</form>

			<div class="col-xs-offset-2 col-xs-8 bg-info">
				<p>The status is {{response.statusCode}}</p>
				<p>The CloudFormation Region Mapping is: </p>
				<samp>
				{{response.body}}	
				</samp>
			</div>

			<div class="row">
				<div class="col-xs-offset-2 col-xs-8 ">
					<p><strong>Caveats:</strong></p>
					<ol>
							<li>AMIs in each region are matched by architecture, image-type, owner-alias, description, root-device-type, virtualization-type, and hypervisor attributes.</li>
							<li>Only public AMIs are visible to this tool (for now).</li>
							<li>Only JSON format supported (for now).</li>
					</ol>





				</div>
			</div>

		</div>

			<footer class="footer">
				<div class="container ">
					<p class="text-muted text-center">Code for this example can be found in <a href="https://github.com/kennyk65/aws-teaching-demos/tree/master/ami-lookup-o-matic" target="_blank">GitHub</a>.</p>
			    </div>
			</footer>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script >
		angular.module('main', [])
			.controller('Controller', function($scope, $http) {
				this.ami="ami-5ec1673e";
				this.region="us-west-2";
				this.data;
				this.regions=["us-east-1","us-east-2","us-west-1","us-west-2","ap-southeast-1","ap-southeast-2","ap-northeast-1","ap-northeast-2"];;
				this.lookup = function() {
					$http.get('https://nklwwii88e.execute-api.us-west-2.amazonaws.com/prod/regions/' 
						+ this.region + 
						'/amis/' 
						+ this.ami + 
						'/mappings').
	    				then(function(response) {
	        				$scope.response = response.data;
	    				}
	    			)
				};
			}); 
		
	</script>
</html>